<div class="form-group">
    <label for="{{ id }}" class="{% if required %}required{% endif %}">{{ label }}</label>
    <textarea type="{{ type }}" name="{{ name }}" class="form-control {% if error %}is-invalid{% endif %}" id="{{ id }}" {% if required %}required{% endif %} {% if placeholder %}placeholder="{{ placeholder }}"{% endif %} {% if rows %}rows="{{ rows }}"{% endif %}>{% if input %}{{ input }}{% else %}{{ value }}{% endif %}</textarea>
    {% if hint %}
    <small class="form-text text-muted">
        {{ hint }}
    </small>
    {% endif %}
    {% if error %}
        <div class="invalid-feedback d-block">
            {{ error }}
        </div>
    {% endif %}
</div>
