{% extends 'layout/login.html' %}
{% block title %}Login｜{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Administrator Login</p>
        <form method="post" action="{{ url('system/auth/login') }}">
            {% include 'form/csrf.html' %}
            <div class="input-group mb-3">
                <input type="email" name="email" value="{% if inputs.email %}{{ inputs.email }}{% endif %}" class="form-control {% if errors.email %}is-invalid{% endif %}" placeholder="メールアドレス" required>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
                {% if errors.email %}
                    <div class="invalid-feedback d-block">
                        {{ errors.email }}
                    </div>
                {% endif %}
            </div>
            <div class="input-group mb-3">
                <input type="password" name="password" class="form-control {% if errors.password %}is-invalid{% endif %}" placeholder="パスワード" required>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
                {% if errors.password %}
                    <div class="invalid-feedback d-block">
                        {{ errors.password }}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </form>
    </div>
    <!-- /.login-card-body -->
</div>
{% endblock %}
