{% extends 'layout/default.html' %}
{% block title %}利用者｜{% endblock %}
{% block content_side %}
    {% include 'include/sidebar.html' with active_key=':user.index' %}
{% endblock %}
{% block content_header %}
    {% include 'include/header.html' with title='利用者' function='USER' first_label='利用者' %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">リスト</h3>
                <div class="card-tools">
                    <form action="" method="get">

	                    <div class="input-group input-group-sm" style="width: 200px;">
                            <input type="text" class="form-control" data-aire-component="input" name="keyword" placeholder="Search" data-aire-for="keyword" id="__aire-0-keyword1">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>
                                追加日時<br/>
                                更新日時
                            </th>
                            <th>
                                名前<br/>
                                メールアドレス
                            </th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.ID }}</td>
                            <td>
                                {{ user.CreatedAt|date:'2006.01.02 15:04' }}<br/>
                                {{ user.UpdatedAt|date:'2006.01.02 15:04' }}
                            </td>
                            <td>
                                {{ user.Name }}<br/>
                                {{ user.Email }}
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="{{ url('system/menu/create/user/%d', user.ID) }}">
                                    <i class="fas fa-plus">
                                    </i>
                                </a>
                                <a class="btn btn-info btn-sm" href="{{ url('system/user/%d/edit', user.ID) }}">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                </a>
                                <button data-class="js-dialog" data-type="delete" data-form="#{{ user.ID|stringformat:'delete-%d' }}" class="btn btn-danger btn-sm" name="submit">
                                    <i class="fas fa-trash">
                                    </i>
                                </button>
                                <form action="{{ url('system/user/%d/delete', user.ID) }}" method="post" id="{{ user.ID|stringformat:'delete-%d' }}">
                                    {% include 'form/csrf.html' %}
                                    {% include 'form/method.html' with method='delete' %}
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>
</div>
{% endblock %}
