<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ url('system') }}" class="brand-link">
        <img src="{{ static('image/logo.png') }}" alt="logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">{{ admin_meta.title }}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="{{ url('system/account/edit') }}" class="d-block">{{ auth.Name }}</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            {% for menu in adminlte_menus %}
                {% if menu.is_header %}
                <li class="nav-header">{{ menu.name }}</li>
                {% else %}
                <li class="nav-item {% if menu.menus %}has-treeview{% endif %} {% if menu.key in active_key %}menu-open{% endif %}">
                    <a href="{{ url(menu.path) }}" class="nav-link {% if menu.key in active_key %}active{% endif %}">
                        <i class="nav-icon fa-fw {{ menu.icon }}"></i>
                        <p>
                            {{ menu.name }}
                            {% if menu.menus %}
                                <i class="fas fa-angle-left right"></i>
                            {% endif %}
                        </p>
                    </a>
                    {% if menu.menus %}
                        <ul class="nav nav-treeview">
                            {% for submenu in menu.menus %}
                                <li class="nav-item {% if submenu.menus %}has-treeview{% endif %} {% if menu.key in active_key %}menu-open{% endif %}">
                                    <a href="{{ url(submenu.path) }}" class="nav-link {% if submenu.key in active_key %}active{% endif %}">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>
                                            {{ submenu.name }}
                                            {% if submenu.menus %}
                                                <i class="fas fa-angle-left right"></i>
                                            {% endif %}
                                        </p>
                                    </a>
                                    {% if submenu.menus %}
                                        <ul class="nav nav-treeview">
                                            {% for endmenu in submenu.menus %}
                                                <li class="nav-item">
                                                    <a href="{{ url(endmenu.path) }}" class="nav-link {% if endmenu.key in active_key %}active{% endif %}">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>
                                                            {{ endmenu.name }}
                                                        </p>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
