{% extends 'layout/default.html' %}
{% block title %}ToDo｜{% endblock %}
{% block content_side %}
    {% include 'include/sidebar.html' with active_key=':todo.index' %}
{% endblock %}
{% block content_header %}
    {% include 'include/header.html' with title='ToDo' function='FUNCTION' %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">リスト</h3>
                <div class="card-tools">
                    <form action="" method="get">

	                    <div class="input-group input-group-sm" style="width: 200px;">
                            <input type="text" class="form-control" data-aire-component="input" name="keyword" placeholder="Search" data-aire-for="keyword" id="__aire-0-keyword1">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-header -->
            {% include 'todo/list-body.html' %}
        </div>
        <!-- /.card -->

    </div>
</div>
{% endblock %}
