{% extends 'layout/default.html' %}
{% block title %}やりとり｜{% endblock %}
{% block content_side %}
    {% include 'include/sidebar.html' with active_key=':discussion.index' %}
{% endblock %}
{% block content_header %}
    {% include 'include/header.html' with title='やりとり' function='FUNCTION' first_label='やりとり' %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">リスト</h3>
                <div class="card-tools">
                    <form action="" method="get">

	                    <div class="input-group input-group-sm" style="width: 200px;">
                            <input type="text" class="form-control" data-aire-component="input" name="keyword" placeholder="Search" data-aire-for="keyword" id="__aire-0-keyword1">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>
                                追加日時<br/>
                                更新日時
                            </th>
                            <th>
                                依頼<br/>
                                送信者
                            </th>
                            <th>
                                メッセージ
                            </th>
                            <th>
                                種別
                            </th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for discussion in discussions %}
                        <tr>
                            <td>{{ discussion.ID }}</td>
                            <td>
                                <small>
                                    {{ discussion.CreatedAt|date:'2006.01.02 15:04' }}<br/>
                                    {{ discussion.UpdatedAt|date:'2006.01.02 15:04' }}
                                </small>
                            </td>
                            <td>
                                <strong>
                                    <a href="{{ url('system/suggest/%d/detail', discussion.Suggest.ID) }}">
                                        {{ discussion.Suggest.Request.Title|truncatechars:30 }}
                                    </a>
                                </strong>
                                <br/>
                                {% if discussion.Sender %}
                                    <a href="{{ url('system/user/%d/edit', discussion.Sender.ID) }}">
                                        {{ discussion.Sender.Name }}
                                    </a>
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                            <td>
                                {{ discussion.Message|truncatechars:30 }}
                            </td>
                            <td>
                                {{ discussion.Type.Name() }}
                            </td>
                            <td>
                                <a class="btn btn-secondary btn-sm" href="{{ url('system/suggest/%d/detail', discussion.Suggest.ID) }}">
                                    <i class="fas fa-list">
                                    </i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>
</div>
{% endblock %}
