{% extends 'layout/default.html' %}
{% block title %}ダッシュボード｜{% endblock %}
{% block content_side %}
    {% include 'include/sidebar.html' %}
{% endblock %}
{% block content_header %}
    {% include 'include/header.html' with title='ダッシュボード' %}
{% endblock %}
{% block content %}
<div class="card-columns card-columns--many" id="panel">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">ToDo：更新</h5>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table">
                <thead>
                    <tr>
                        <th>投稿者</th>
                        <th>内容</th>
                        <th>進捗状況</th>
                    </tr>
                </thead>
                <tbody>
                {% for todo in todos %}
                    <tr>
                        <td>
                            {{ todo.Admin.Name|default:"--" }}
                        </td>
                        <td>
                            {{ todo.Text|truncatechars:30 }}
                        </td>
                        <td>
                            {{ todo.Status.Name() }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">募集：更新</h5>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table">
                <thead>
                    <tr>
                        <th>タイトル</th>
                        <th>投稿状況</th>
                        <th>進捗状況</th>
                    </tr>
                </thead>
                <tbody>
                {% for request in menus %}
                    <tr>
                        <td>
                            {{ request.Title|truncatechars:30 }}
                        </td>
                        <td>
                            {{ request.Status.Name() }}
                        </td>
                        <td>
                            {{ request.Process.Name() }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">システム情報</h5>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th>
                            Go Version
                        </th>
                        <td>
                            {{ config.GoVersion }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            App Version
                        </th>
                        <td>
                            {{ config.App.Version }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            App Name
                        </th>
                        <td>
                            {{ config.App.Name }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            URL
                        </th>
                        <td>
                            {{ config.App.URL }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Environment
                        </th>
                        <td>
                            {{ config.App.Env }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
